# Random Forest Classifier

Implementation of Random Forest classifier (RFC).

## Importing libraries

In [3]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score ,mean_squared_error

## Data processing

In [10]:
raw_data = pd.read_csv('../data/gravier/gravier_csv/alon.csv')
print(f'NaN values: {raw_data.isnull().values.any()}')

raw_data.head()

#X = raw_data.iloc[:,0,-1]
#Y = raw_data.iloc[:,-1]

#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

NaN values: False

,x.X1,x.X2,x.X3,x.X4,x.X5,x.X6,x.X7,x.X8,x.X9,x.X10,...,x.X1992,x.X1993,x.X1994,x.X1995,x.X1996,x.X1997,x.X1998,x.X1999,x.X2000,y
0,8589.42,5468.24,4263.41,4064.94,1997.89,5282.33,2169.72,2773.42,7526.39,4607.68,...,67.56,259.91,138.90,88.23,39.67,67.83,75.68,83.52,28.70,t
1,9164.25,6719.53,4883.45,3718.16,2015.22,5569.91,3849.06,2793.39,7017.73,4802.25,...,92.24,96.28,150.59,82.24,85.03,152.20,186.57,44.47,16.77,n
2,3825.71,6970.36,5369.97,4705.65,1166.55,1572.17,1325.40,1472.26,3296.95,2786.58,...,82.72,31.10,193.92,76.97,224.62,31.23,42.66,16.09,15.16,t
3,6246.45,7823.53,5955.84,3975.56,2002.61,2130.54,1531.14,1714.63,3869.79,4989.41,...,41.68,5.93,183.01,74.53,67.71,48.34,42.52,49.98,16.09,n
4,3230.33,3694.45,3400.74,3463.59,2181.42,2922.78,2069.25,2948.58,3303.37,3109.41,...,76.60,161.35,61.70,54.56,223.36,73.10,57.60,7.49,31.81,t

In [16]:
len(raw_data)

62

In [23]:
sample_columns = [f'x.X{i+1}' for i in range(len(raw_data))]

X = raw_data[sample_columns].values
y = raw_data['y'].values

In [24]:
from sklearn.cluster import KMeans
from collections import Counter

In [27]:
n_clusters = 3
kmeans = KMeans(n_clusters=n_clusters, random_state=1).fit(X.T)
clusters = kmeans.predict(X.T)
cluster_counts = [Counter(y[clusters == c]) for c in range(3)]
cluster_counts

/Users/erirosv/.pyenv/versions/3.10.11/lib/python3.10/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

[Counter({'t': 22, 'n': 11}),
 Counter({'n': 6, 't': 4}),
 Counter({'t': 14, 'n': 5})]